body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-container {
	display: none;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	height: 500px;
	width: 500px;
}

.container p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 15px;
	margin: 20px 0;
}

.container h1{
	text-align: center;
}

.container a {
    color: red;
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0 10px;
}


.form-container.active {
	display: block;
}
input[type="email"],
input[type="text"],
input[type="password"],
button[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
button[type="submit"] {
	background-color: #007FFF;
	color: white;
	border: none;
	cursor: pointer;
}
button[type="submit"]:hover {
	background-color: #007FFF;
}

.input-group {
        display: flex;
        align-items: center;
    }

.input-group .form-control {
	padding-left: 40px; /* Thêm padding để icon nằm trong khung input */
}

.input-group .input-group-text {
	position: absolute;
	z-index: 1; /* Đặt vị trí z-index để icon nằm trên cùng */
}